
$roj: red;
$ver: green; 
$blu: blue;
$rosado: pink;

$coloruno: #f9ed69;
$colordos: rgb(51, 51, 48);
$colorPagina: rgb(252, 243, 207) ;

#pro {
    background-color: $colorPagina;
}

.pro {
    background-color: $colorPagina;
}

.thumbnail {
    color: $colordos;
}

.btn-primary {
    background-color: $colordos ;
}


