

#carr {
	display:block;
    margin:auto;
    padding: 10px;
}

.crrImg {
	display:block;
	margin:auto;
	padding: 20px;
}


#carousel-example-generic {
    width: 50%;
    display: block;
    margin: auto;
    background-color: $colorPagina;
}


.thumbnail {
    background-color: $colorPagina;
    border-radius: $colorPagina;
    width: 80%;
    display: block;
    margin: auto;
}


.form-inline {
    text-align: center;
	padding: 30px;
}

.mapa {
    text-align: center;
}
