<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>biografia pasta taller</title>

    <meta name=“description” “Pasta taller, creada por Pablo Vercelotti, pyme de pasta, quesos y vinos artesanales, Valparaiso, Chile.”
    
    content= “Parrafo” Pasta artesanal de Pablo Vercelotti y venta de pasta, vino y quesos artesanales”/>
    
    <meta name="author" content="claudio castillo"/>
    
    <meta name="keywords" content="pasta, vino y quesos"/>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

     <link rel="stylesheet" href="../assets/css/style.css"   type="text/css">
     
     <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>


<div id="nav" class="container">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="logo">
        <img br clear="all" src="../img/logo.png" alt="Pasta taller" width="150px"> 
      </div>
    </div>
  </div>

  <br>

  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12" style="">
        
        <nav class="navbar navbar-default" id="pro">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="../index.html">Bienvenidos</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="../views/historia.html">Historia</a></li>
                <li><a href="../views/bio.html">Bio</a></li>
                <li><a href="../views/compras.html">Compras</a></li>
                <li><a href="../views/puntosdeventa.html">Punto de venta</a></li>
                <li><a href="../views/blog.html">Blog</a></li>
                <li class="dropdown">
                  <a href="../views/productos.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos <span class="caret"></span></a>
                  <ul class="dropdown-menu" id="pro">
                    <li><a href="../views/productos.html">Pastas</a></li>
                    <li><a href="../views/productosvinos.html">Vinos</a></li>
                    <li><a href="../views/productosquesos.html">Quesos</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../views/contacto.html">Contacto</a></li>
                <li class="dropdown">
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>      

      </div>    <!---class colum--->
  </div>   <!--class row--->


	
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="parrafo">
        <p><h1 class="p1"> Biografía</h1></p>
		<p><h1 class="p2"> El fabricante de pastas</h1></p>
      </div>
    </div>
  </div>
  <br>

 <div class="row">
    	<div class="col-md-12 col-sm-12 col-xs-12">
      		<div class="logo">
				<img src="../img/pablopresbn.png" alt="Pablo">
			</div>
    	</div>
 </div>
  <br>




  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="parrafoHistoria">
		 	<p>Pablo Zapara Vercelotti, alumno de la Escuela Universitaria de Hostelería y Turismo de la Universidad de Barcelona.  Ha preparado algunos de los platos más elegantes en las mejores cocinas de Europa.
			</p>
			<br>
			<p>
			<p>Sin embargo, su pasión es algo un poco más simple y rústico: la pasta más fresca, hecha con los ingredientes más locales y de temporada posible.
			</p>
			<br>	
			<p>
			<p>Pablo comenzó a cocinar con su abuela y su abuelo en la cocina en el centro de Chile, mas
			específicamente en Quilpue, región de Valparaiso. Con herencia Sarda y Piamontesa ( italianas ), su ADN se centra en la familia y la comida.
			</p>
			<p>
			<p>A la edad de veintiséis años, Pablo, luego de realizar estudios de cocina en la ciudad de viña del mar, decide viajar a Madrid, España. Sin embargo es en Barcelona donde decide radicarse y comenzar su primer concierto en un restaurante, cocinando tapas por la noche y preparando la carta de menús durante el día. El comienzo fue duro y se abrió paso en tantas cocinas como
			pudo. Sabía, en ese momento, que algún día tendría un lugar propio.</p>
			<p>
			<br>
			<p>En el año 2011, Pablo ingresa a la EUHT CETT de Barcelona, donde realiza el diplomado de Alta cocina Ejecutiva y Creativa, lo que le permite dar el salto a la Alta cocina y Trabajar en restaurantes con estrella Michelin, es en ese momento donde absorbe todo lo que va aprendiendo de los grandes cocineros y metres de los mejores restaurantes de la ciudad condal. </p>
			<br>
			<p>
			<p>Al poco tiempo ingresa como jefe de partida en el mejor restaurant del cocina italiana en Barcelona, “massimo “. Decide viajar por Europa, Francia, Italia , Suiza, UK, son algunos países donde Pablo sigue
			aprendiendo y trabajando.</p>
			<br>
			<p>
			<p>El año 2017 regresa a Chile , donde durante un año trabaja sin descanso como chef en
			restaurantes de la zona oriente de la capital. Al poco tiempo y junto con su compañera de vida,
			Katherine, llega la familia, sus pilares, sus hijas Florencia y Agustina y es ahí en donde decide
			volver a la región de Valparaiso , a la ciudad de San Francisco de Limache y crear Pasta Taller.
			Pasta Taller es mas que una fabrica de pastas; es la fuerza, el sacrificio y la energía de años y años de trabajo, amor y dedicación , es familia y desafíos, es el símbolo del amor por la cocina. Es pasta hecha con amor para todos nuestros clientes y comensales.
			</p>        
			<time datetime="24-5-2020">Publicado 24-5-2020</time>
		    <p>
      </div>
    </div>
  </div>


  <div id="sus">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
          <h1 class="p1">"Suscribete" y recibiras ofertas de nuestros productos</h1> 
        <form class="form-inline">
          <div class="form-group">
            <label for="exampleInputName2">Nombre</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail2">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
          </div>
          <button type="submit" class="btn btn-default">Enviar</button>
        </form>
      </div>  <!---div class column--->
    </div>  <!---div class row-->
  </div> <!---final -->

  <br>


  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <footer class="">  <!---pie de pagina--->
        <h3 class="p1">Copyright claclaclau, Chile 2020</h3>
      </footer>
    </div>  <!---div class column--->
  </div>  <!---div class row-->




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

</div>
</body>
</html>